<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.karmeleon.wearbatterymonitor">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<service android:name=".BatteryInfoListenerService">
			<intent-filter>
				<action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
				<data android:scheme="wear" android:host="*"
					  android:path="/start-activity" />
			</intent-filter>
		</service>
	</application>
</manifest>
